<%= link_to collection_path(collection), class: 'O_CollectionCardLink', 
                     data: { 
                       name: collection.name,
                       description: collection.description || '',
                       created_at: collection.created_at.iso8601,
                       subscribers: collection.sub_collections.count
                     } do %>
  <div class='O_CollectionCard'>
    <div class="A_HeaderCollection <%= css_classes[:header] %>">
      <p class="A_HeaderCollectionText <%= css_classes[:text] %>"><%= collection.name %></p>
    </div>

    <div class="W_Collection">
      <div class="W_PhotoCollection">
        <% first_effect = collection.effects.first %>
        
        <% if first_effect && first_effect.images.any? %>
          <%= image_tag(first_effect.images.first.file.url, alt: "Первое фото коллекции", class: "A_PhotoCollection") %>
        <% else %>
          <div class='A_PhotoCollection A_PhotoCollectionEmpty'>
            <%= image_tag("emptyImage.svg", alt: "Картинка", class: "Q_emptyImage") %>
          </div>
        <% end %>
      
        <div class="C_PhotoCollection">
          <% collection.effects.each_with_index do |effect, index| %>
            <% break if index >= 4 %> 
            <% image = effect.images.offset(1).first %>
            <% if image %>
              <%= image_tag(image.file.url, alt: "Фото коллекции", class: "A_PhotoCollectionMini") %>
            <% end %>
          <% end %>
        </div>      
      </div>

      <div class="C_CollectionFooter">
        <div class="M_TagsCollection">
          <p class="A_TextTag A_TextTagLight">
            <% total_elements_count = collection.links.size + collection.effects.size + collection.images.size %>
            <%= total_elements_count %> элементов
          </p>

          <p class="A_TextTag A_TextTagLight">
            <%= collection.effects.size %> эффектов
          </p>
        </div>
        

        <% unless css_classes[:header] == "A_Pink" %>
          <div data-controller="subscribe" data-subscribe-collection-id="<%= collection.id %>">
            <%= turbo_frame_tag "subscription_button_#{collection.id}" do %>
              <% if current_user && current_user.subscribed_to?(collection) %>
                <button class="A_ButtonSecondary A_ButtonSecondaryGray A_ButtonSecondaryGrayFit A_UnsubscribeButton A_ButtonSecondaryCollection" 
                        data-action="click->subscribe#unsubscribe"
                        data-subscribe-url="<%= unsubscribe_collection_path(collection) %>">
                  <%= image_tag("minusIconBlack.svg", alt: "Отписаться", class:"Q_plusMinusIcon") %>
                  Отписаться
                </button>
              <% elsif current_user %>
                <button class="A_ButtonPrimary A_SubscribeButton A_ButtonPrimaryCollectionSub A_ButtonPrimaryMobileSub" 
                        data-action="click->subscribe#subscribe"
                        data-subscribe-url="<%= subscribe_collection_path(collection) %>"
                        <%= 'disabled' if collection.status == 'private' %>>
                  <%= image_tag("Plus.svg", alt: "Подписаться", class:"Q_plusMinusIcon Q_plusMinusIconMobile") %>
                  Подписаться
                </button>
              <% else %>
               <button class="A_ButtonSecondary A_SubscribeButton">
                <%= image_tag("Plus.svg", alt: "Подписаться", class: "A_folowCollectionImage") %>
                <p class='Q_ButtonSecondary'>
                  Подписаться
                </p>
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>