<%
  youtube_id = link.path.match(/(?:youtube\.com\/watch\?v=|youtu.be\/)([^\&\?\/]+)/).try(:[], 1)
  preview_url = youtube_id ? "https://img.youtube.com/vi/#{youtube_id}/0.jpg" : nil
%>

<div class="O_LinkCard" 
     data-controller="link-card"
     data-action="click->link-card#open"
     data-link-id="<%= link.id %>"
     data-link-title="<%= link.title %>"
     data-link-url="<%= link.path %>"
     data-link-notes="<%= link.description %>">
  <% if preview_url %>
    <%= image_tag preview_url, alt: "YouTube preview", class: "A_PhotoLink" %>
  <% end %>

  <div class="C_LinkInfo">
    <p class="A_TextTag A_TextTagBig A_TextTagLight A_TextTagLink">
      <%= truncate(link.path, length: 40) %>
    </p>

    <% if link.title.present? %>
      <p class="A_TextEffectCard"><%= link.title %></p>
    <% end %>
  </div>
</div>
