<%
  set_meta_tags(
    title: "Коллекции",
    description: "Все самые лучшие коллекции эффектов и пресетов на Eflectica",
    keywords: "коллекции эффектов, коллекции пресетов"
  )
%>

<% content_for :sidebar do %>
  <%= render "shared/sidebar_search" %>
<% end %>

<% content_for :title, "Collections" %>

<div class="Q_Section">
  <div class="W_allCollectionsButton">
    <button class="A_Filter A_FilterCollections"><p class="A_TextS">Создать коллекцию</p></button>
    <button class="A_Filter">
      <p class="A_TextS">Сортировать</p>
      <%= image_tag("Q_FilterArrowUpDown.svg", alt: "Картинка стрелочки", class: "Q_FilterArrowUpDown") %>
    </button>
  </div>

  <div class="C_allCollections">
    <div class='W_columnCollections'>
      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection'><p>Световые эффекты</p></div>
        <div class="W_Collection">
          <div class="M_PhotoCollection">
            <%= image_tag("imageSeed1.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            <div class='W_twoImages'>
              <%= image_tag("imageSeed2.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
              <%= image_tag("imageSeed3.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            </div>
          </div>
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>23 элемента</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection A_TextHeaderCollectionRed'><p>Блики для Фотошопа</p></div>
        <div class="W_Collection">
          <div class="M_PhotoCollection">
            <%= image_tag("imageSeed4.svg", alt: "Картинка стрелочки", class: "Q_ImageSeed2") %>
            <%= image_tag("imageSeed3.png", alt: "Картинка стрелочки", class: "Q_ImageSeed2") %>
            <%= image_tag("imageSeed5.png", alt: "Картинка стрелочки", class: "Q_ImageSeed2") %>
          </div>
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>2 элемента</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='W_columnCollections'>
      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection A_TextHeaderCollectionRed'><p>Дипломный проект</p></div>
        <div class="W_Collection">
          <div class="M_PhotoCollection">
            <%= image_tag("imageSeed4.svg", alt: "Картинка стрелочки", class: "Q_ImageSeed2") %>
            <%= image_tag("imageSeed3.png", alt: "Картинка стрелочки", class: "Q_ImageSeed2") %>
          </div>
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>2 элемента</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>

      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection A_TextHeaderCollectionBlack'><p>Дипломный проект</p></div>
        <div class="W_Collection">
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>0 элементов</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>

      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection'><p>Эффекты размытия</p></div>
        <div class="W_Collection">
          <div class="M_PhotoCollection">
            <%= image_tag("imageSeed6.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            <div class='W_twoImages'>
              <%= image_tag("imageSeed7.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
              <%= image_tag("imageSeed8.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            </div>
          </div>
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>7 элементов</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='W_columnCollections'>
      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection'><p>Эффекты размытия</p></div>
        <div class="W_Collection">
          <div class="M_PhotoCollection">
            <%= image_tag("imageSeed6.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            <div class='W_twoImages'>
              <%= image_tag("imageSeed7.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
              <%= image_tag("imageSeed8.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            </div>
          </div>
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>7 элементов</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>

      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection A_TextHeaderCollectionBlack'><p>Новый проект</p></div>
        <div class="W_Collection">
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>0 элементов</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='W_columnCollections'>
      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection'><p>Пресеты для Афтера</p></div>
        <div class="W_Collection">
          <div class="M_PhotoCollection">
            <%= image_tag("imageSeed9.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            <div class='W_twoImages'>
              <%= image_tag("imageSeed10.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
              <%= image_tag("imageSeed11.png", alt: "Картинка стрелочки", class: "Q_ImageSeed1") %>
            </div>
          </div>
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>17 элементов</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>

      <div class='O_CollectionCard'>
        <div class='A_TextM A_TextHeaderCollection A_TextHeaderCollectionRed'><p>Дипломный проект</p></div>
        <div class="W_Collection">
          <div class="M_PhotoCollection">
            <%= image_tag("imageSeed4.svg", alt: "Картинка стрелочки", class: "Q_ImageSeed2") %>
            <%= image_tag("imageSeed3.png", alt: "Картинка стрелочки", class: "Q_ImageSeed2") %>
          </div>
          <div class="C_CollectionInfo">
            <div class="A_TextM">
              <p>2 элемента</p>
            </div>
            <div class="A_TextM">
              <p>создано 19 сентября 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
