<%
  set_meta_tags(
    title: @collection.name,
    description: @collection.description,
    keywords: "коллекции эффектов, коллекции пресетов"
  )
%>

<div class='S_Collection' data-controller="collection">
  <h1 class="A_Header1 A_Header1Collection"><%= @collection.name %></h1>
  <% if @collection.user == current_user %>
    <div class='W_editCollection'>
      <button class="A_ButtonSecondary A_ButtonSecondaryGray A_ButtonSecondaryFit" data-action="click->collection#open">
        <%= image_tag("plusIconBlack.svg", alt: "Картинка рейтинга", class: "Q_plusIconBlack") %>
        Добавить элемент
      </button>
      <button class="A_ButtonSecondary A_ButtonSecondaryGray A_ButtonSecondaryFit">Редактировать коллекцию</button>
    </div>
  <% elsif @collection.status == 'public' %>
    <%= render 'collections/subscription_button', collection: @collection %>
  <% end %>
  <div class="modal-overlay hidden" data-collection-target="backdrop">
    <div class="O_ChoiceCollection O_ChoiceCollectionElement O_ChoiceCollectionElementTop">
      <div class="A_HeaderChoice">
        <h3 class='A_Header3'>Выбери коллекцию</h3>
        <button id="closePopup" class="Q_IconClose" data-action="click->collection#close">
          <%= image_tag("CloseCollection.svg", alt: "Закрыть", class: 'A_CloseCollectionIcon') %>
        </button>
      </div>
      <div class='A_formElement'>
        <div class="C_RadioSettings">
          <label class='M_RadioSettings'>
            <input type="radio" name="collectionType" value="effect" checked data-action="change->collection#updateForm">
            <p class='A_TextTag A_TextTagBig'>Эффект</p>
          </label>
          <label class='M_RadioSettings'>
            <input type="radio" name="collectionType" value="link" data-action="change->collection#updateForm">
            <p class='A_TextTag A_TextTagBig'>Ссылка</p>
          </label>
          <label class='M_RadioSettings'>
            <input type="radio" name="collectionType" value="reference" data-action="change->collection#updateForm">
            <p class='A_TextTag A_TextTagBig'>Референс</p>
          </label>
        </div>

        <div class="effect-link-section" data-collection-target="effectLinkSection">
          <p class="A_TextEffectDescription A_TextEffectDescriptionElement">
            Ты можешь перейти на страницу категорий, чтобы найти эффект. На странице эффекта можно добавить его в коллекцию.
          </p>
          <a href="/effects/categories">
            <button type="button" class='A_More A_MoreElement'>
              В раздел категорий
              <%= image_tag("ArrowIcon.svg", alt: "Перейти", class:"Q_arrowFollow") %>
            </button>
          </a>
        </div>

        <div class="M_CollectionForm M_CollectionFormRef hidden" data-collection-target="referenceSection">
          <%= form_with model: [@collection, @collection.images.build], method: :post, multipart: true do |f| %>
            <div class="M_CollectionForm M_CollectionFormRef">
              <%= f.text_field :title, placeholder: "Название референса", class: "A_Input A_InputRef", style: "color: black" %>

              <div class="custom-file-input">
                <label for="file_upload" class="file-label">
                  <div class="preview-container" style="display: flex; align-items: center; justify-content: center; overflow: hidden;">
                    <img id="preview-image" src="<%= image_path('icon-attachment.svg') %>" alt="Иконка файла" class="file-icon" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                  </div>
                  <span id="file-name" class="default-color" data-collection-target="fileName">Картинка</span>
                </label>
                <%= f.file_field :file, id: "file_upload", class: "hidden-input", 
                                data: { action: "change->collection#updateFileName change->collection#previewImage" } %>
              </div>

              <%= f.submit "Добавить", class: "A_ButtonPrimary A_ButtonPrimaryElement" %>
            </div>
          <% end %>
        </div>                         
      </div>
    </div>
  </div>
  

  <div class='M_allStaff'>
    <div class='W_collectionElements'>
      <h2 class="A_Header2">Эффекты</h2>
      <% if @collection.effects.any? %>
        <div class='C_collectionElements'>
          <% @collection.effects.each do |effect| %>
            <%= render partial: 'effects/collection_effect', locals: { effect: effect, programs: @programs } %>
          <% end %>
        </div>
      <% else %>
        <p class="A_TextTag A_TextTagBig">Здесь пока ничего нет</p>
      <% end %>
    </div>       
    <div class='W_collectionElements'>
      <h2 class="A_Header2">Референсы</h2>
      <% if @collection.images.any? && @collection.images.any? { |image| image.file.present? } %>
        <div class='C_collectionElements'>
          <% @collection.images.each do |image| %>
            <%= render partial: 'refs', locals: { image: image } %>
          <% end %>
        </div>
      <% else %>
        <p class="A_TextTag A_TextTagBig">Здесь пока ничего нет</p>
      <% end %>
    </div>
    <div class='W_collectionElements'>
      <h2 class="A_Header2">Ссылки</h2>
      <% if @collection.links.any? %>
        <div class='C_collectionElements'>
          <% @collection.links.each do |link| %>
            <%= render partial: 'links', locals: { link: link } %>
          <% end %>
        </div>
      <% else %>
        <p class="A_TextTag A_TextTagBig">Здесь пока ничего нет</p>
      <% end %>
    </div>
  </div>
</div>
