<%
  og_image_url = og_image_collection_url(@collection)
  
  set_meta_tags(
    title: @collection.name,
    description: @collection.description,
    keywords: "коллекции эффектов, коллекции пресетов",
    og: {
      title: @collection.name,
      description: @collection.description,
      image: og_image_url,
      url: request.original_url,
      type: 'article',
      site_name: 'Efex2'
    },
    twitter: {
      card: 'summary_large_image',
      title: @collection.name,
      description: @collection.description,
      image: og_image_url
    }
  )
%>

<div class='S_Collection' data-controller="collection collection-edit" data-collection-id="<%= @collection.id %>">
  <h1 class="A_Header1 A_Header1Collection"><%= @collection.name %></h1>
  <% if @collection.user == current_user %>
    <div class='W_editCollection'>
      <button class="A_ButtonPrimary A_SubscribeButton" data-action="click->collection#open">
        <%= image_tag("plusIconWhite.svg", alt: "Картинка рейтинга", class: "Q_plusIconBlack") %>
        Добавить элемент
      </button>
      <button class="A_ButtonSecondary A_ButtonSecondaryGray A_ButtonSecondaryFit" data-action="click->collection-edit#open">Редактировать коллекцию</button>
    </div>
  <% elsif @collection.status == 'public' %>
    <%= render 'collections/subscription_button', collection: @collection %>
  <% end %>
  <div class="modal-overlay hidden" data-collection-target="backdrop">
    <div class="O_ChoiceCollection O_ChoiceCollectionElement O_ChoiceCollectionElementTop">
      <div class="A_HeaderChoice">
        <h3 class='A_Header2'>Добавление элемента</h3>
        <button id="closePopup" class="Q_IconClose" data-action="click->collection#close">
          <%= image_tag("CloseCollection.svg", alt: "Закрыть", class: 'A_CloseCollectionIcon') %>
        </button>
      </div>
      <div class='A_formElement'>
        <div class="C_RadioSettings">
          <label class='M_RadioSettings'>
            <input type="radio" name="collectionType" value="effect" checked data-action="change->collection#updateForm">
            <p class='A_TextTag A_TextTagBig'>Эффект</p>
          </label>
          <label class='M_RadioSettings'>
            <input type="radio" name="collectionType" value="link" data-action="change->collection#updateForm">
            <p class='A_TextTag A_TextTagBig'>Ссылка</p>
          </label>
          <label class='M_RadioSettings'>
            <input type="radio" name="collectionType" value="reference" data-action="change->collection#updateForm">
            <p class='A_TextTag A_TextTagBig'>Референс</p>
          </label>
        </div>

        <!-- Секция для эффектов -->
        <div class="effect-section" data-collection-target="effectSection">
          <p class="A_TextEffectDescription A_TextEffectDescriptionElement">
            Ты можешь перейти на страницу категорий, чтобы найти эффект. На странице эффекта можно добавить его в коллекцию.
          </p>
          <a href="/effects/categories?collection_id=<%= @collection.id %>">
            <button type="button" class='A_ButtonPrimary A_SubscribeButton A_ButtonPrimaryChooseEffects'>
              Выбрать эффекты
            </button>
          </a>
        </div>

        <!-- Секция для ссылок -->
        <div class="link-section hidden" data-collection-target="linkSection">
          <div class="W_linkFormInputs">
            <input type="text" 
                   class="A_InputText A_InputTextCollection" 
                   placeholder="Название ссылки" 
                   data-collection-target="linkName"
                   data-action="input->collection#validateLinkForm">
            
            <textarea class="A_InputText A_InputTextCollection A_TextareaCollection" 
                      placeholder="Заметки" 
                      data-collection-target="linkNotes"
                      data-action="input->collection#validateLinkForm"></textarea>
            
            <div style="position: relative;">
              <%= image_tag("icon-attachment.svg", alt: "Иконка ссылки", class: "Q_IconCategory5" , style: "position: absolute; left: 0.63vw; top: 50%; transform: translateY(-50%); width: 1.67vw; height: 1.67vw; z-index: 1;") %>
              <input type="url" 
                     class="A_InputText A_InputTextCollection A_InputTextCollectionLink" 
                     placeholder="Вставь ссылку" 
                     style="padding-left: 40px;"
                     data-collection-target="linkUrl"
                     data-action="input->collection#validateLinkForm">
            </div>
          </div>
          
          <button type="button" 
                  class='A_ButtonPrimary A_SubscribeButton A_ButtonPrimaryChooseEffects A_ButtonDisabled A_ButtonPrimaryAdd' 
                  data-collection-target="addLinkButton"
                  data-action="click->collection#addLink"
                  disabled>
            Добавить
          </button>
        </div>

        <div class="M_CollectionForm M_CollectionFormRef hidden" data-collection-target="referenceSection">
          <%= form_with model: [@collection, @collection.images.build], method: :post, multipart: true do |f| %>
            <div class="M_CollectionForm">
              <%= f.text_field :title, placeholder: "Название референса", class: "A_Input A_InputRef", style: "color: black", data: { collection_target: "referenceTitle", action: "input->collection#validateReferenceForm" } %>
              
              <%= f.text_area :description, placeholder: "Заметки", class: "A_InputText A_InputTextCollection A_TextareaCollection", data: { collection_target: "referenceNotes", action: "input->collection#validateReferenceForm" } %>

              <div>
                <label for="file_upload" class="file-label">
                  <div class="W_linkAddLink" style="display: flex; align-items: center; justify-content: center; overflow: hidden;">
                    <%= image_tag("icon-attachment2.svg", alt: "Иконка ссылки", class: "file-icon" , style: "max-width: 100%; max-height: 100%; object-fit: contain;") %>
                    <p class="A_descLinkAdd" data-collection-target="fileName">Выбери файл</p>
                  </div>
                </label>
                <%= f.file_field :file, id: "file_upload", class: "hidden-input", data: { action: "change->collection#updateFileName change->collection#previewImage" } %>
              </div>

              <%= f.submit "Добавить", class: "A_ButtonPrimary A_ButtonPrimaryElement A_ButtonDisabled", disabled: true, data: { collection_target: "addReferenceButton" } %>
            </div>
          <% end %>
        </div>                         
      </div>
    </div>
  </div>

  <!-- Модальное окно редактирования коллекции -->
  <div class="modal-overlay hidden" data-collection-edit-target="modal">
    <div class="S_FeedSettings">
      <div class="A_HeaderChoice">
        <h3 class="A_Header2">Редактировать коллекцию</h3>
        <button class="modal-close" data-action="collection-edit#close">
          <%= image_tag("Q_IconClose.svg", alt: "Картинка", class: "Q_IconClose") %>
        </button>
      </div>
      <h3 class="A_Header3 A_Header3CollectionDesc">Описание</h3>
      <%= form_with model: @collection, url: collection_path(@collection), method: :patch, local: true do |f| %>
        <div class='M_CollectionForm'>
          <%= f.text_field :name, placeholder: 'Название коллекции', class: 'A_InputFormName' %>
          <%= f.text_area :description, placeholder: 'Описание коллекции', class: 'A_InputFormDescription' %>
        </div>
        <div class="C_PrivateSettings">
          <h3 class="A_Header3">Настройки доступа</h3>
          <div class='C_RadioSettings'>
            <div class="M_RadioSettings">
              <%= f.radio_button :status, 'public', id: 'edit_public', checked: @collection.status == 'public' %>
              <%= f.label :status, 'Сделать коллекцию публичной', for: 'edit_public', class: 'A_TextTag A_TextTagBig' %>
            </div>
            <div class="M_RadioSettings">
              <%= f.radio_button :status, 'private', id: 'edit_private', checked: @collection.status == 'private' %>
              <%= f.label :status, 'Сделать коллекцию приватной', for: 'edit_private', class: 'A_TextTag A_TextTagBig' %>
            </div>
          </div>
          <p class="A_TextCaption A_TextCaptionCollection">
            Если сделать коллекцию публичной, на нее могут подписаться другие пользователи.
          </p>
        </div>
        <%= f.submit 'Сохранить', class: 'A_ButtonPrimary A_ButtonPrimaryCollectionCreate' %>
      <% end %>
    </div>      
  </div>
  

  <div class='M_allStaff'>
    <div class='W_collectionElements'>
      <h2 class="A_Header2">Эффекты</h2>
      <% if @collection.effects.any? %>
        <div class='C_collectionElements'>
          <% @collection.effects.each do |effect| %>
            <%= render partial: 'effects/collection_effect', locals: { effect: effect, programs: @programs } %>
          <% end %>
        </div>
      <% else %>
        <p class="A_TextTag A_TextTagBig">Здесь пока ничего нет</p>
      <% end %>
    </div>       
    <div class='W_collectionElements'>
      <h2 class="A_Header2">Референсы</h2>
      <% if @collection.images.any? && @collection.images.any? { |image| image.file.present? } %>
        <div class='C_collectionElements'>
          <% @collection.images.each do |image| %>
            <%= render partial: 'refs', locals: { image: image, collection_id: @collection.id } %>
          <% end %>
        </div>
      <% else %>
        <p class="A_TextTag A_TextTagBig">Здесь пока ничего нет</p>
      <% end %>
    </div>
    <div class='W_collectionElements'>
      <h2 class="A_Header2">Ссылки</h2>
      <% if @collection.links.any? %>
        <div class='C_collectionElements'>
          <% @collection.links.each do |link| %>
            <%= render partial: 'links', locals: { link: link } %>
          <% end %>
        </div>
      <% else %>
        <p class="A_TextTag A_TextTagBig">Здесь пока ничего нет</p>
      <% end %>
    </div>
  </div>

  <!-- Блок контроллера link-preview -->
  <div data-controller="link-preview">
    <!-- Модальное окно превью ссылки -->
    <div class="modal-overlay hidden" data-link-preview-target="modal" data-action="click->link-preview#closeOnBackdrop">
      <div class="S_FeedSettings S_FeedSettingsLink">
        <div class="A_HeaderChoice">
          <h3 class="A_Header2">Ссылка</h3>
          <button class="modal-close" data-action="click->link-preview#close">
            <%= image_tag("Q_IconClose.svg", alt: "Закрыть", class: "Q_IconClose") %>
          </button>
        </div>
        
        <div class="M_CollectionForm M_CollectionFormVideo">
          <!-- Превью изображение для YouTube ссылок -->
          <div data-link-preview-target="imageContainer" class="hidden">
            <img data-link-preview-target="previewImage" alt="Превью" class="A_imagePreviewLink">
          </div>
          
          <div class="W_linkFormInputs W_linkFormInputsPreview">
            <input type="text" 
                   class="A_InputText A_InputTextCollection" 
                   placeholder="Название ссылки" 
                   data-link-preview-target="title"
                   data-action="input->link-preview#trackChanges">
            
            <textarea class="A_InputText A_InputTextCollection A_TextareaCollection" 
                      placeholder="Заметки" 
                      data-link-preview-target="notes"
                      data-action="input->link-preview#trackChanges"></textarea>
            
            <div style="position: relative;">
              <%= image_tag("icon-attachment.svg", alt: "Иконка ссылки", class: "Q_IconCategory5" , style: "position: absolute; left: 0.63vw; top: 50%; transform: translateY(-50%); width: 1.67vw; height: 1.67vw; z-index: 1;") %>
              <input type="url" 
                     class="A_InputText A_InputTextCollection A_InputTextCollectionLink" 
                     placeholder="Ссылка" 
                     style="padding-left: 40px;"
                     data-link-preview-target="url"
                     data-action="input->link-preview#trackChanges">
            </div>

            <button type="button" 
                  class="A_ButtonDelete" 
                  data-action="click->link-preview#showDeleteDialog">
            Удалить
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Диалог подтверждения сохранения -->
    <div class="modal-overlay hidden" data-link-preview-target="confirmDialog" data-action="click->link-preview#closeConfirmDialog" style="z-index: 1001;">
      <div class="S_FeedSettings S_FeedSettingsSave">
        <div class="M_CollectionForm">
          <h3 class="A_Header2">Сохранение</h3>
          <p class="A_TextTag A_TextTagBig" style="margin-bottom: 1.67vw;">
            Ты изменил информацию в карточке элемента.<br>
            Хочешь их сохранить?
          </p>
          
          <div class="W_buttonsSave">
            <button type="button" 
                    class="A_buttonLight" 
                    data-action="click->link-preview#discardChanges">
              Не сохранять
            </button>
            
            <button type="button" 
                    class="A_ButtonPrimary" 
                    data-action="click->link-preview#confirmSave">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Диалог подтверждения удаления -->
    <div class="modal-overlay hidden" data-link-preview-target="deleteDialog" data-action="click->link-preview#closeDeleteDialog" style="z-index: 1001;">
      <div class="S_FeedSettings S_FeedSettingsSave">
        <div class="M_CollectionForm">
          <h3 class="A_Header2">Удаление элемента</h3>
          <p class="A_TextTag A_TextTagBig" style="margin-bottom: 1.67vw;">
            После удаления элемент исчезнет из коллекции. Ты точно хочешь удалить его?
          </p>
          
          <div class="W_buttonsSave">        
            <button type="button" 
                    class="A_ButtonDelete A_ButtonDeleteLeft" 
                    data-action="click->link-preview#confirmDelete">
              Удалить
            </button>

            <button type="button" 
                    class="A_ButtonPrimary" 
                    data-action="click->link-preview#cancelDelete">
              Не удалять
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Блок контроллера reference-preview -->
  <div data-controller="reference-preview">
    <!-- Модальное окно превью референса -->
    <div class="modal-overlay hidden" data-reference-preview-target="modal" data-action="click->reference-preview#closeOnBackdrop">
      <div class="S_FeedSettings S_FeedSettingsLink">
        <div class="A_HeaderChoice">
          <h3 class="A_Header2">Референс</h3>
          <button class="modal-close" data-action="click->reference-preview#close">
            <%= image_tag("Q_IconClose.svg", alt: "Закрыть", class: "Q_IconClose") %>
          </button>
        </div>
        
        <div class="M_CollectionForm M_CollectionFormVideo">
          <!-- Превью изображения -->
          <div>
            <img data-reference-preview-target="imagePreview" alt="Превью" class="A_imagePreviewLink">
          </div>
          
          <div class="W_linkFormInputs W_linkFormInputsPreview">
            <input type="text" 
                   class="A_InputText A_InputTextCollection" 
                   placeholder="Название референса" 
                   data-reference-preview-target="title"
                   data-action="input->reference-preview#trackChanges">
            
            <textarea class="A_InputText A_InputTextCollection A_TextareaCollection" 
                      placeholder="Заметки" 
                      data-reference-preview-target="notes"
                      data-action="input->reference-preview#trackChanges"></textarea>

            <!-- Поле для отображения текущего файла -->
            <div style="position: relative;">
              <%= image_tag("icon-attachment2.svg", alt: "Иконка ссылки", class: "file-icon" , style: "position: absolute; top: 50%; transform: translateY(-50%); width: 1.67vw; height: 1.67vw; z-index: 1;") %>
              <input type="text" 
                     class="A_InputText A_InputTextCollection A_InputTextCollectionLink A_InputTextCollectionLinkNone" 
                     placeholder="Текущий файл" 
                     data-reference-preview-target="currentFileName"
                     data-action="click->reference-preview#selectNewFile input->reference-preview#trackChanges"
                     readonly>
            </div>
          </div>
        </div>

        <button type="button" 
                  class="A_ButtonDelete A_ButtonDeleteTop" 
                  data-action="click->reference-preview#showDeleteDialog">
            Удалить
        </button>
      </div>
    </div>

    <!-- Диалог подтверждения сохранения -->
    <div class="modal-overlay hidden" data-reference-preview-target="confirmDialog" data-action="click->reference-preview#closeConfirmDialog" style="z-index: 1001;">
      <div class="S_FeedSettings S_FeedSettingsSave">
        <div class="M_CollectionForm">
          <h3 class="A_Header2">Сохранение</h3>
          <p class="A_TextTag A_TextTagBig" style="margin-bottom: 1.67vw;">
            Ты изменил информацию в карточке элемента.<br>
            Хочешь их сохранить?
          </p>
          
          <div class="W_buttonsSave">
            <button type="button" 
                    class="A_buttonLight" 
                    data-action="click->reference-preview#discardChanges">
              Не сохранять
            </button>
            
            <button type="button" 
                    class="A_ButtonPrimary" 
                    data-action="click->reference-preview#confirmSave">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Диалог подтверждения удаления -->
    <div class="modal-overlay hidden" data-reference-preview-target="deleteDialog" data-action="click->reference-preview#closeDeleteDialog" style="z-index: 1001;">
      <div class="S_FeedSettings S_FeedSettingsSave">
        <div class="M_CollectionForm">
          <h3 class="A_Header2">Удаление элемента</h3>
          <p class="A_TextTag A_TextTagBig" style="margin-bottom: 1.67vw;">
            После удаления элемент исчезнет из коллекции. Ты точно хочешь удалить его?
          </p>
          
          <div class="W_buttonsSave">        
            <button type="button" 
                    class="A_ButtonDelete A_ButtonDeleteLeft" 
                    data-action="click->reference-preview#confirmDelete">
              Удалить
            </button>

            <button type="button" 
                    class="A_ButtonPrimary" 
                    data-action="click->reference-preview#cancelDelete">
              Не удалять
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
