<div class='O_formQuestion'>
  <%= form_with(model: question) do |form| %>
    <div class='W_titleDescFormQuestion'>
      <div>
        <%= form.text_field :title %>
      </div>
      <div>
        <%= form.text_area :description %>
      </div>
    </div>
    
    <div class="allInfoQuestionForm">
      <div class="W_textDescTags">
        <h2 class="A_TextH2">Настройки тегов</h2>
        <p class="A_TextM">Важно, чтобы выбранные теги точно отражали область применения эффекта и особенности его установки</p>
      </div>
      <div>
        <%= form.text_area :media %>
      </div>
  
      <div>
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>