<% image_filenames = ['About_img1.webp', 'About_img2.webp', 'About_img3.webp', 'About_img4.webp', 'About_img5.webp', 'About_img6.webp', 'About_img7.webp', 'About_img8.webp', 'About_img9.webp', 'About_img10.webp'] %>

<%= link_to question, class: "O_AQuestion" do %>
  <div id="<%= dom_id question %>" class='O_Question'>
    <div class="C_QuestionBody">
      <h1 class='A_TextH2'>
        <%= question.title %>
      </h1>

      <p class='A_TextXS'>
        <%= question.description %>
      </p>

      <div class="C_PhotoQuestion">
        <div class='Q_Photo'>
          <% selected_image = image_filenames.sample %>
          <%= image_tag(selected_image, alt: 'Random Effect Image') %>
        </div>
        <div class='Q_Photo'>
          <% selected_image = image_filenames.sample %>
          <%= image_tag(selected_image, alt: 'Random Effect Image') %>
        </div>
      </div>
    </div>
    
    <div class='M_QuestionFooter'>
      <div class='A_TagProgram'> 
        <div class='Q_PhotoProgram'><%= image_tag("ae.svg", alt: "Картинка уведомлений") %></div>
        <p class='A_TextXS'>After Effects</p>
      </div>
      <p class="A_TextXS">
        <%= question.comments.count %> <%= I18n.t("answers", count: question.comments.count) %>
      </p>    
    </div>
  </div>
<% end %>
