<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Edit this question", edit_question_path(@question) %> |
  <%= link_to "Back to questions", questions_path %>

  <%= button_to "Destroy this question", @question, method: :delete %>
</div>

<div class="comments">
  <h2>Комментарии:</h2>
  <% @question.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
  <%= render 'comments/form', question: @question, comment: Comment.new %>
</div>

