<%
  set_meta_tags(
    title: @question.title,
    description: @question.description,
    keywords: "эффекты, пресеты"
  )
%>

<% content_for :sidebar do %>
  <%= render "shared/sidebar_search" %>
<% end %>

<div class="S_contentQuestion">
  <div class="Q_sectionQuestion1">
    <div class="M_Nvigation M_NvigationShow">
      <%= link_to questions_path, class: "O_AQuestion" do %>
        <button class="A_Navigation2 A_Navigation2Show">
          <%= image_tag("Q_NavigationIcon.svg", alt: "Картинка стрелочки") %>
        </button>
      <% end %>
      <div class="A_TextM A_TextMShow"><p>Назад</p></div>
    </div>
    <h1 class="A_TextH1 A_TextH1Show"><%= @question.title %></h1>
    <div class="A_TextL A_TextLShow">
      <p>
        Всем привет! Мне нужен мягкий, романтический вайб с теплым освещением и естественными цветами. Я использовал Gels для создания тёплого света и установил Temperature на +10 и Tint на +5, чтобы добавить лёгкий розоватый оттенок. Для мягкости теней применил softbox с интенсивностью на уровне 70%. Также добавил блюр для фона и установил Clarity на -15, чтобы немного смягчить детали позади модели и сфокусировать внимание на ней.
      </p>
    </div>
    <div class="C_QuestionInfo">
      <h2 class="A_TextH2 A_TextH2Show">Обработка фото</h2>
      <div class="M_QuestionProgram">
        <div class='Q_PhotoProgram'><%= image_tag("ae.svg", alt: "Картинка уведомлений") %></div>
        <p class='A_TextXS A_TextXShow'>After Effects</p>
      </div>
    </div>
    <div class="C_allPicturesQuestion">
      <%= image_tag("imageSeed19.png", alt: "Картинка стрелочки") %>
      <%= image_tag("imageSeed20.png", alt: "Картинка стрелочки") %>
    </div>
    <div class="C_QuestionAuthor">
      <div class="M_Author">
        <%= image_tag("A_Avatar.png", alt: "Картинка стрелочки", class: "A_Avatar") %>
        <p class="A_TextS">@seva_sdelal</p>
      </div>
      <p class="A_TextS A_TextShow">22 октября 2024</p>
    </div>
  </div>
  <div class="Q_sectionQuestion2">
    <div class="S_FavoriteSection S_FavoriteSectionShow">
      <h1 class="A_TextH1">Лучший ответ</h1>
      <div class="Q_FavoriteSection">
        <div class="Q_SegmentSection"></div>
        <div class="Q_SegmentSection"></div>
        <div class="Q_SegmentSection"></div>
        <div class="Q_SegmentSection"></div>
        <div class="Q_SegmentSection"></div>
        <div class="Q_SegmentSection"></div>
        <div class="C_Questions C_QuestionsShow">
          <div class="A_TextM A_TextMShow">
            <p>Привет! Попробуй усилить интенсивность света от softbox и добавить лёгкий розоватый оттенок. Для этого в разделе Basic сдвинь ползунок Temperature примерно на +10–15, а Tint — на +5–10 вправо для добавления лёгкой розовинки. Это поможет коже и свету стать мягче, добавив тёплый и нежный оттенок, идеально для романтического вайба. Удачи!</p>
          </div>
          <div class="C_QuestionAuthor C_QuestionAuthorShow">
            <div class="M_Author">
              <%= image_tag("imageSeed21.png", alt: "Картинка стрелочки", class: "A_Avatar") %>
              <p class="A_TextS">@masha_photo</p>
            </div>
            <p class="A_TextS A_TextShow">22 октября 2024</p>
          </div>
        </div>
      </div>
    </div>

    <div class="O_MyAnswer">
      <h1 class="A_TextH1 A_TextH1Show2">Мой ответ</h1>
      <div class="C_MyAnswer">
        <%= image_tag("A_Avatar.png", alt: "Картинка стрелочки", class: "A_Avatar") %>
        <%= text_area_tag :description, nil, placeholder: "Напиши совет автору вопроса", class: "A_Textarea", rows: 5, cols: 50 %>
      </div>
    </div>

    <div class="O_allAnswer">
      <h1 class="A_TextH1 A_TextH1Show2">Все ответы</h1>
      <button class="A_Filter A_TextSShow">
        <p class="A_TextS">Сортировать</p>
        <%= image_tag("Q_FilterArrowUpDown.svg", alt: "Картинка стрелочки", class: "Q_FilterArrowUpDown") %>
      </button>
      <div class="O_Answer">
        <div class="W_Answer">
          <div class="A_TextM A_TextMShow">
            <p>Здорово, что уже добавил блюр для фона! Чтобы ещё больше усилить акцент на модели, добавь небольшое виньетирование. В Effects выставь Vignette на -10 или -15 — это создаст лёгкое затемнение по краям кадра и направит взгляд на центр. Такой приём делает изображение более камерным и уютным</p>
          </div>
          <div class="C_QuestionAuthor C_QuestionAuthorShow">
            <div class="M_Author">
              <%= image_tag("imageSeed21.png", alt: "Картинка стрелочки", class: "A_Avatar") %>
              <p class="A_TextS">@masha_photo</p>
            </div>
            <p class="A_TextS A_TextShow">26 октября 2024</p>
          </div>
        </div>
        <div class="C_AnswerLike">
          <p class="A_TextS A_TextSub">Ответить</p>
          <div class="A_Like">
            <%= image_tag("Q_LikeIcon.svg", alt: "Картинка стрелочки", class: "Q_LikeIcon") %>
            <p class="A_TextS A_TextSub">6</p>
          </div>
        </div>
      </div>
      
      <div class="O_Answer">
        <div class="W_Answer">
          <div class="A_TextM A_TextMShow">
            <p>Привет! Чтобы оттенки кожи и фона выглядели ещё мягче, зайди в HSL. В Orange уменьши Saturation до -10 и подними Luminance до +10 — так кожа станет естественнее. В Yellow убери Saturation до -5, а зелёные оттенки в фоне можно приглушить, уменьшив Luminance на -5. Это выделит тёплые тона и сделает фокус на модели ещё сильнее. Надеюсь, помог</p>
          </div>
          <div class="C_QuestionAuthor C_QuestionAuthorShow">
            <div class="M_Author">
              <%= image_tag("imageSeed22.png", alt: "Картинка стрелочки", class: "A_Avatar") %>
              <p class="A_TextS">@hi_joy</p>
            </div>
            <p class="A_TextS A_TextShow">24 октября 2024</p>
          </div>
        </div>
        <div class="C_AnswerLike">
          <p class="A_TextS A_TextSub">Ответить</p>
          <div class="A_Like">
            <%= image_tag("Q_LikeIcon.svg", alt: "Картинка стрелочки", class: "Q_LikeIcon") %>
            <p class="A_TextS A_TextSub">10</p>
          </div>
        </div>
      </div>
      
      <div class="O_Answer">
        <div class="W_Answer">
          <div class="A_TextM A_TextMShow">
            <p>Здорово, что уже добавил блюр для фона! Чтобы ещё больше усилить акцент на модели, добавь небольшое виньетирование. В Effects выставь Vignette на -10 или -15 — это создаст лёгкое затемнение по краям кадра и направит взгляд на центр. Такой приём делает изображение более камерным и уютным</p>
          </div>
          <div class="C_QuestionAuthor C_QuestionAuthorShow">
            <div class="M_Author">
              <%= image_tag("imageSeed23.png", alt: "Картинка стрелочки", class: "A_Avatar") %>
              <p class="A_TextS">@ivanvan</p>
            </div>
            <p class="A_TextS A_TextShow">22 октября 2024</p>
          </div>
        </div>
        <div class="C_AnswerLike">
          <p class="A_TextS A_TextSub">Ответить</p>
          <div class="A_Like">
            <%= image_tag("Q_LikeIcon.svg", alt: "Картинка стрелочки", class: "Q_LikeIcon") %>
            <p class="A_TextS A_TextSub">4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>