<p style="color: green"><%= notice %></p>

<% content_for :title, "Favorites" %>

<h1>Routes</h1>

<ul>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Questions', questions_path %></li>
  <li><%= link_to 'Favorites', favorites_path %></li>
  <li><%= link_to 'Comments', comments_path %></li>
  <li><%= link_to 'Ratings', ratings_path %></li>
  <li><%= link_to 'Collections', collections_path %></li>
  <li><%= link_to 'Assets', assets_path %></li>
</ul>

<h1>Favorites</h1>

<div id="favorites">
  <% @favorites.each do |favorite| %>
    <%= render favorite %>
    <p>
      <%= link_to "Show this favorite", favorite %>
    </p>
  <% end %>
</div>

<%= link_to "New favorite", new_favorite_path %>
