<div class='Q_Section3' id="section-3">
	<div class="S_Profile">
		<div class="W_Profile">
			<div class="O_Profile">
				<div class="C_ProfileName">
					<%= image_tag("A_Avatar.png", alt: "Картинка стрелочки", class: "A_Avatar") %>
					<h1 class="A_TextH1 A_TextH1Profile">Сева</h1>
					<p class="A_TextS A_TextSProfile">@seva_sdelal</p>
				</div>
				<div class="C_ProfileBody">
					<p class='A_TextS A_TextSProfile2'>Я&nbsp;специалист по&nbsp;Photoshop и&nbsp;Blender. У&nbsp;меня есть опыт в&nbsp;3D-моделировании и&nbsp;обработке изображений. Мне нравится работать с&nbsp;текстурами и&nbsp;освещением, а&nbsp;также превращать обычные фото в&nbsp;красивые картинки.</p>
					<div class="M_ProfileContacts">
						<h2 class="A_TextH2 A_TextSProfile2">Почта</h2>
						<p class="A_TextS A_TextSProfile2">sevaantonov44@mail.ru</p>
					</div>
					<div class="M_ProfileContacts">
						<h2 class="A_TextH2 A_TextSProfile2">Написать мне</h2>
						<div class="M_Telegram">
							<%= image_tag("tg.svg", alt: "Картинка стрелочки", class: "A_Avatar") %>
							<p class="A_TextS A_TextSProfile2">@sevaantonov</p>
						</div>
					</div>
				</div>
			</div>
			<button class="A_Button A_ButtonProfile">Редактировать</button>
		</div>
		<div class="W_ProfileEffects">
			<div class="M_ProfilePosts">
				<h2 class="A_TextH2 A_TextSProfile2 A_TextSProfile3">Мои посты</h2>
				<div class="M_Nvigation">
					<p class="A_TextS A_TextSProfile2">Все</p>
					<button class="A_Navigation2">
						<%= image_tag("Q_NavigationIcon.svg", alt: "Картинка стрелочки") %>
					</button>
				</div>
			</div>
			<div class="C_ProfileEffects">
				<div class="O_EffectCard">
					<%= image_tag("imageSeed17.png", alt: "Картинка стрелочки") %>
					<div class="W_EffectBody2">
						<p class="A_TextS A_TextSProfile2">Глитч-синхронизация</p>
						<p class="A_TextXS A_TextSProfile">29 сентября 2024</p>
					</div>
				</div>
				<div class="O_EffectCard">
					<%= image_tag("imageSeed18.png", alt: "Картинка стрелочки") %>
					<div class="W_EffectBody2">
						<p class="A_TextS A_TextSProfile2">Сцена с металлическим бл...</p>
						<p class="A_TextXS A_TextSProfile">7 октября 2024</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>