<div class='Q_Section3' id="section-3">
  <h1 class='A_TextH1 A_TextH1Register'>Вход</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="A_FormField">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Адрес почты", id: "email-field" %>
    </div>

    <div class="A_FormField">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль", id: "password-field" %>
    </div>

    <div class="A_buttonRegister">
      <%= f.submit "Войти" %>
    </div>
  <% end %>

  <div class='A_TextXS A_textLoginLink'>
    <%= render "devise/shared/links" %>
  </div>
</div>