<% if query.present? %>
  <!-- Мои эффекты -->
  <% if current_user && my_effects.any? %>
    <div class="W_searchSection">
      <div class="M_HeaderEffects">
        <h3 class="A_Header3">Мои эффекты</h3>
      </div>
      <div class="C_Effects">
        <% my_effects.each do |effect| %>
          <%= render partial: "effects/collection_effect", locals: { effect: effect } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Все эффекты -->
  <% if all_effects.any? %>
    <div class="W_searchSection">
      <div class="M_HeaderEffects">
        <h3 class="A_Header3">Все эффекты</h3>
        <%= link_to effects_path(search: query), class: 'A_buttonWatchAll' do %>
          Смотреть все
        <% end %>
      </div>
      <div class="C_Effects">
        <% all_effects.each do |effect| %>
          <%= render partial: "effects/collection_effect", locals: { effect: effect } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Мои коллекции -->
  <% if current_user && my_collections.any? %>
    <div class="W_searchSection">
      <div class="M_HeaderEffects">
        <h3 class="A_Header3">Мои коллекции</h3>
      </div>
      <div class="C_Collections">
        <% my_collections.each do |collection| %>
          <%= render partial: "collections/collection", locals: { 
            collection: collection, 
            css_classes: { header: "A", text: "A" } 
          } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Подписки -->
  <% if current_user && subscriptions.any? %>
    <div class="W_searchSection">
      <div class="M_HeaderEffects">
        <h3 class="A_Header3">Подписки</h3>
      </div>
      <div class="C_Collections">
        <% subscriptions.each do |collection| %>
          <%= render partial: "collections/collection", locals: { 
            collection: collection, 
            css_classes: { header: "A_Blue", text: "A_White" } 
          } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Все коллекции -->
  <% if all_collections.any? %>
    <div class="W_searchSection">
      <div class="M_HeaderEffects">
        <h3 class="A_Header3">Все коллекции</h3>
        <%= link_to collections_path, class: 'A_buttonWatchAll' do %>
          Смотреть все
        <% end %>
      </div>
      <div class="C_Collections">
        <% all_collections.each do |collection| %>
          <%= render partial: "collections/collection", locals: { 
            collection: collection, 
            css_classes: { header: "A", text: "A" } 
          } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if my_effects.empty? && all_effects.empty? && my_collections.empty? && subscriptions.empty? && all_collections.empty? %>
    <div class="W_searchSection">
      <p class="A_TextM">По запросу «<%= query %>» ничего не найдено</p>
    </div>
  <% end %>
<% else %>
  <div class="W_searchSection">
    <p class="A_TextM">Введите запрос для поиска</p>
  </div>
<% end %> 