<label%
  set_meta_tags(
    title: @effect.name,
    description: @effect.description,
    keywords: "эффекты, пресеты"
  )
%>

<div class='O_effectPage'>
  <div class='W_allContent'>
    <div class='M_HeaderEffect'>
      <h1 class='A_Header1 A_HeaderDark'><%= @effect.name %></h1>
      <div class="W_HintModeration">
        <%= image_tag("HintModeration.svg", alt: "Картинка рейтинга", class: 'A_hintModeration') %>
        <div class="Q_ModerationTooltip">
          Ссылка на скачивание проверена модератором и безопасна
        </div>
      </div>
    </div>
    <div class='С_PhotoGalleryEffect2'>
      <div class='M_PhotoEffect'>
        <% if @effect.images.find_by(image_type: 'before') %>
          <%= image_tag(@effect.images.find_by(image_type: 'before').file.url, alt: "До применения", class: 'A_PhotoEffect A_PhotoEffectCover') %>
        <% else %>
          <p>Нет картинки</p>
        <% end %>
        <p class='A_TextTag A_TextTagLight'>До применения</p>
      </div>
      <div class='M_PhotoEffect'>
        <% if @effect.images.find_by(image_type: 'after') %>
          <%= image_tag(@effect.images.find_by(image_type: 'after').file.url, alt: "После применения", class: 'A_PhotoEffect A_PhotoEffectCover') %>
        <% else %>
          <p>Нет картинки</p>
        <% end %>
        <p class='A_TextTag A_TextTagLight'>После применения</p>
      </div>
    </div>    
    <div class='O_allContentEffect'>
      <div class='W_infoEffect'>
        <p class='A_TextEffectDescription'><%= @effect.description %></p>
        <div class='M_Buttons'>
          <button class='A_ButtonPrimary A_MorePC'>
            <%= image_tag("DownloadButton.svg", alt: "Картинка рейтинга", class: 'A_DownloadButton') %>
            Установить
          </button>
         
          <div class="popup-container" data-controller="popup" data-popup-effect-id="<%= @effect.id %>">
            <button class="A_ButtonSecondary A_ButtonSecondaryGray A_ButtonSecondaryPMobile" data-action="click->popup#open">
              <%= image_tag("AddToCollectionIcon.svg", alt: "Картинка рейтинга", class: "A_AddToCollectionIcon") %>
              Добавить в коллекцию
            </button>
            <div class="popup-backdrop hidden" data-popup-target="backdrop"></div>
            <div id="popup" class="O_ChoiceCollection hidden" data-popup-target="popup">
              <div class="A_HeaderChoice">
                <h3 class='A_Header3'>Выбери коллекцию</h3>
                <button id="closePopup" class="Q_IconClose" data-action="click->popup#close">
                  <%= image_tag("CloseCollection.svg", alt: "Картинка рейтинга", class: 'A_CloseCollectionIcon') %>
                </button>
              </div>
              <ul class="C_Choice">
                <li class='M_Choice'>
                  <label class="custom-checkbox">
                    <div class='A_TextCheck'>
                      <%= image_tag("FavoriteIcon.svg", alt: "Картинка рейтинга", class: 'A_FavoriteCollectionIcon') %>
                      <p class='A_TextButtonSeсondary A_TextButtonSeсondaryPink'>Избранное</p>
                    </div>
                    <input type="checkbox" name="collection" value="favorite" data-action="change->popup#toggleFavorite" data-popup-target="favoriteCheckbox">
                    <span class="checkmark"></span> 
                  </label>
                </li>
                <% @user_collections.each do |collection| %>
                  <li class='M_Choice'>
                    <label class="custom-checkbox">
                      <p class='A_TextButtonSeсondary A_TextButtonSeсondaryBlack'><%= collection.name %></p>
                      <input type="checkbox" name="collection" value="<%= collection.id %>" 
                            data-action="change->popup#toggleCollection" data-popup-target="collectionCheckbox">
                      <span class="checkmark"></span>
                    </label>
                  </li>
                <% end %>
              </ul>
              <button class="M_Choice M_ChoiceBlue">
                <%= image_tag("addToCollectionPrimaryButtonIcon.svg", alt: "Картинка рейтинга", class: 'A_addToCollectionPrimaryButtonIconIcon') %>
                <p class='A_TextButtonPrimary'>Создать новую коллекцию</p>
              </button>
            </div>
          </div>          
        </div>
        <div class='W_PlatformArea'>
          <p class='A_Header3'>Подойдёт для</p>
          <div class="C_PlatformArea">
            <% @effect.programs.split(",").each do |program_name| %>
              <% program_name = program_name.strip %>
              <div class="A_Program">
                <% if programs.key?(program_name) %>
                  <%= image_tag programs[program_name], alt: program_name, class: "Q_ProgramIconEffect" %>
                <% end %>
                <p class="A_ProgramName A_ProgramNameEffect"><%= program_name.gsub('_', ' ').titleize %> <%= @effect.program_version %>
                </p>
              </div>
            <% end %>

            <div class="M_Platforms">
              <% @effect.platform.split(",").each do |platform_name| %>
                <% platform_name = platform_name.strip.downcase %>
                <div class="Q_ProgramIcon Q_ProgramIconEffect">
                  <% if platforms.key?(platform_name) %>
                    <%= image_tag platforms[platform_name], class: "Q_PlatformIcon", alt: platform_name.capitalize %>
                  <% else %>
                    <%= image_tag "default_platform_icon.svg", class: "Q_PlatformIcon", alt: platform_name.capitalize %>
                  <% end %>
                </div>
              <% end %>
            </div>            
          </div>          
        </div>
        <div class='W_CategoryArea'>
          <p class='A_Header3'>Категория</p>
          <ul class='A_CategoryList'>
            <% @effect.category_list.each do |category| %>
              <a href="/effects/categories">
                <li class='A_CategoryItem'>
                  <%= human_readable_category(category) %> 
                  <%= image_tag("ArrowIcon.svg", alt: "Картинка рейтинга", class:"Q_arrowFollow") %>
                </li>
              </a>
            <% end %>
          </ul>          
        </div>
        
        <div class='W_CategoryArea'>
          <p class='A_Header3'>Задачи</p>
          <div class='A_TaskList'>
            <% @effect.task_list.each do |task| %>
              <div class='A_TaskItem'><%= human_readable_task(task) %></div>
            <% end %>
          </div>          
        </div>
        
        <div class='W_InstructionEffect'>
          <p class='A_Header2'>Инструкция по использованию</p>
          <%= sanitize(@effect.manual.gsub('\\n', "\n").gsub(/\n/, '<br>')) %>
        </div>

        <div class='W_More M_createPostCardPC'>
          <h2 class='A_Header2 A_Header2Settings'>Хочешь больше похожих эффектов? <span>Настрой ленту!</span></h2>
          <div class='M_Buttons M_ButtonsSettings'>
            <button class='A_ButtonPrimary A_ButtonPrimarySettings'>Перейти к настройке ленты</button>
            <button class='A_TextButtonSeсondary'>Больше не показывать</button>
          </div>
        </div>
      </div>
      <div>
        <% if current_user && current_user.is_admin? %>
          <div class='W_adminControls'>
            <h2 class='A_Header2 A_Header2Start'>Администрирование эффекта</h2>
            <div class='M_Buttons'>
              <%= form_for @effect, url: approve_effect_path(@effect), method: :patch do |f| %>
                <%= f.hidden_field :is_secure, value: "Одобрено" %>
                <button class='A_ButtonPrimary'>   
                  Одобрить эффект
                </button>
              <% end %>

              <%= form_for @effect, url: reject_effect_path(@effect), method: :patch do |f| %>
                <%= f.hidden_field :is_secure, value: "Не одобрено" %>
                <button class='A_ButtonSecondary A_ButtonSecondaryGray A_ButtonSecondaryFit'>
                  Не одобрить
                </button>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class='W_shareRaiting'>
            <div class='W_ShareArea W_ShareAreaUser'>
              <h2 class="A_Header3">Автор эффекта</h2>
              <div class="M_Socials">
                <% if @effect.user.present? %>
                  <%= link_to profile_path(@effect.user), class: "A_UserCard" do %>
                    <% if @effect.user.avatar.present? %>
                      <%= image_tag(@effect.user.avatar.url, alt: "User avatar", class: "A_UserAvatar A_UserAvatarSize") %>
                    <% else %>
                      <%= image_tag("default_avatar.png", alt: "Default avatar", class: "A_UserAvatar") %>
                    <% end %>
                    <span class="A_Username">@<%= @effect.user.email.split('@').first %></span>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class='W_ShareArea'>
              <h2 class="A_Header3">Поделиться</h2>
              <div data-controller="share" class="M_Socials">
                <button class='A_SocialIcon' data-action="click->share#shareToVK" data-share-target="vk">
                  <%= image_tag("vk.svg", alt: "Поделиться ВКонтакте", class: 'A_vkIcon') %>
                </button>
              
                <button class='A_SocialIcon' data-action="click->share#shareToTelegram" data-share-target="telegram">
                  <%= image_tag("tg.svg", alt: "Поделиться в Telegram", class: 'A_tgIcon') %>
                </button>
              
                <button class='A_SocialIcon' data-action="click->share#copyLink" data-share-target="link">
                  <%= image_tag("tabler_link.svg", alt: "Скопировать ссылку", class: 'A_linkIcon') %>
                </button>
              </div>            
            </div>
            <div class='W_RatingArea'>
              <h2 class="A_Header3">Рейтинг</h2>
              <div class='W_RatingArea W_RatingAreaMobile'>
                <div class='A_Rating'>
                  <%= image_tag("Q_StarIcon.svg", alt: "Картинка рейтинга", class: 'Q_StarIconBig') %>
                  <p class='A_Header1 A_Header1Purple'><%= @effect.average_rating || "Нет рейтинга" %></p>
                </div>
                <p class='A_TextTag A_TextTagLight'>На основе <%= @effect.ratings.size %> оценок</p>
              </div>
            </div>
          </div>
          <div class='W_allComments'>
            <h2 class="A_Header2">Комментарии (<%= @effect.comments.size %>)</h2>
            <%= render partial: 'comments/my_comment', locals: { effect: @effect, current_user: current_user } %>
            <div class='C_Comments'>
              <%= render partial: 'comments/comment', collection: @effect.comments %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='W_similarEffects'>
  <div class='O_Effects O_EffectsBarrow'>
    <div class="M_HeaderEffects">
      <h2 class="A_Header2">Похожие эффекты</h2>
      <button class='A_buttonWatchAll'>Смотреть все</button>
    </div>
    <% if @effects.present? %>
      <div class="C_Effects">
        <% @effects.each do |effect| %>
          <%= render partial: "collection_effect", locals: { effect: effect } %>
        <% end %>
      </div>
    <% else %>
      <p class="A_TextEmpty">Нет доступных эффектов</p>
    <% end %>
  </div>
</div>