<% 
  set_meta_tags(
    title: "Трендовые эффекты",
    description: "Самые популярные эффекты на Eflectica",
    keywords: "трендовые эффекты, популярные эффекты, тренды"
  )
%>

<% content_for :title, "Трендовые эффекты" %>

<div class='O_Category' data-controller="task-filter sort-filter">
	<div class='W_coverCategory'>
		<%= image_tag("imageCategory5.png", alt: "Картинка рейтинга", class: "Q_IconCategory5") %>
		<%= image_tag("imageCategory2.png", alt: "Картинка рейтинга", class: "Q_IconCategory2") %>
		<%= image_tag("imageCategory3.png", alt: "Картинка рейтинга", class: "Q_IconCategory3") %>
		<%= image_tag("imageCategory1.png", alt: "Картинка рейтинга", class: "Q_IconCategory1") %>
		<%= image_tag("imageCategory6.png", alt: "Картинка рейтинга", class: "Q_IconCategory6") %>
		<%= image_tag("imageCategory4.png", alt: "Картинка рейтинга", class: "Q_IconCategory4") %>
	</div>

	<h1 class="A_Header1 A_Header1Category">Трендовые эффекты</h1>

	<div class='W_allButtonsCategory'>
		<div class='W_tasksCategories'>
			<div class="Q_FilterDropdown">
				<button class='A_Filter A_FilterCategory A_TextTagBig' data-action="task-filter#toggle" data-task-filter-target="toggleButton">
					Задача
					<%= image_tag("Q_IconArrowBlack.svg", alt: "Картинка рейтинга", class: "Q_IconArrowBlack") %>
				</button>
				
				<!-- Контейнер для отображения выбранных задач -->
				<div class="C_SelectedCategories" data-task-filter-target="selectedTasks" style="display: none;">
					<div class="Q_SelectedCategoriesList" data-task-filter-target="selectedTasksList">
						<!-- Выбранные задачи будут добавляться сюда динамически -->
					</div>
				</div>
				
				<div class="Q_CategoryDropdown" data-task-filter-target="dropdown" style="display: none;">
					<div class="Q_CategoryList">
						<% if @tasks && @tasks.any? %>
							<% @tasks.each do |task| %>
								<label class="Q_CategoryItem custom-checkbox">
									<span><%= human_readable_task(task) %></span>
									<input type="checkbox" value="<%= task %>" data-action="task-filter#filterEffects">
									<span class="checkmark"></span>
								</label>
							<% end %>
						<% else %>
							<div class="Q_CategoryItem">
								<span>Нет доступных задач</span>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="Q_FilterDropdown">
				<button class='A_Filter A_FilterCategory A_TextTagBig' data-action="task-filter#togglePrograms" data-task-filter-target="programToggleButton">
					Программа
					<%= image_tag("Q_IconArrowBlack.svg", alt: "Картинка рейтинга", class: "Q_IconArrowBlack") %>
				</button>
				
				<!-- Контейнер для отображения выбранных программ -->
				<div class="C_SelectedCategories" data-task-filter-target="selectedPrograms" style="display: none;">
					<div class="Q_SelectedCategoriesList" data-task-filter-target="selectedProgramsList">
						<!-- Выбранные программы будут добавляться сюда динамически -->
					</div>
				</div>
				
				<div class="Q_CategoryDropdown" data-task-filter-target="programDropdown" style="display: none;">
					<div class="Q_CategoryList">
						<% if @programs && @programs.any? %>
							<% @programs.each do |program| %>
								<label class="Q_CategoryItem custom-checkbox">
									<div class="Q_ProgramItemContent">
										<%= image_tag(program_icon(program), alt: human_readable_program(program), class: "Q_ProgramIconDropdown") if program_icon(program) %>
										<span><%= human_readable_program(program) %></span>
									</div>
									<input type="checkbox" value="<%= program %>" data-action="task-filter#filterByPrograms">
									<span class="checkmark"></span>
								</label>
							<% end %>
						<% else %>
							<div class="Q_CategoryItem">
								<span>Нет доступных программ</span>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class='M_Sort'>
			<div class="Q_FilterDropdown">
				<button class='A_Filter A_FilterCategory A_TextTagBig' data-action="sort-filter#toggle" data-sort-filter-target="toggleButton">
					Сортировка
					<%= image_tag("Q_IconArrowBlack.svg", alt: "Картинка рейтинга", class: "Q_IconArrowBlack") %>
				</button>
				
				<div class="Q_CategoryDropdown" data-sort-filter-target="dropdown" style="display: none;">
					<div class="Q_CategoryList">
						<button class="Q_CategoryItem Q_SortItem" data-action="sort-filter#sortByNewest">
							<span>Сначала новые</span>
						</button>
						<button class="Q_CategoryItem Q_SortItem" data-action="sort-filter#sortByPopular">
							<span>Сначала популярные</span>
						</button>
					</div>
				</div>
			</div>
			<p class='A_TextTag A_TextTagBig A_TextTagLight' data-sort-filter-target="currentSort">Сначала популярные</p>
		</div>
	</div>

	<div class='C_Effects C_EffectsCategory' data-task-filter-target="effectSection" data-sort-filter-target="effectSection">
    <% @effects.each do |effect| %>
      <%= render partial: 'effects/collection_effect', locals: { effect: effect } %>
    <% end %>
  </div>
</div> 