<!-- Фоновый контент с блюром -->
<div class='Q_Section Q_SectionActive Q_SectionSignUp Q_SectionBlurred'>
  <div class='O_Prewiew'>
    <div class='O_Card'>
      <div class="A_TextM A_TextMCard"><p>Подписки</p></div>
      <div class="A_TextL"><p>Сохраняй чужие коллекции полезных пресетов</p></div>
    </div>
    <%= image_tag("line1.svg", alt: "Картинка", class: "Q_Line1") %>
    <div class='O_Card O_CardSimple O_Card4'>
      <p>Находи вдохновение и бесплатные пресеты для проектов</p>
    </div>
    <div class='O_Card O_CardMedium O_CardMediumRed2'>
      <div class="A_TextM A_TextMCard A_TextMRed"><p>Эффекты</p></div>
      <div class="A_TextL"><p>Удобно сортируй эффекты по&nbsp;категориям, задачам и&nbsp;программам</p></div>
    </div>
    <%= image_tag("line2.svg", alt: "Картинка", class: "Q_Line2") %>
    <%= image_tag("MainLogo.svg", alt: "Картинка", class: "A_MainLogo") %>
    <div class='O_Card O_CardSimple O_Card3'>
      <p>Следи за модными трендами в&nbsp;индустрии и сохраняй их</p>
    </div>
    <div class='O_Card O_CardMedium O_CardMediumRed'>
      <div class="A_TextM A_TextMCard A_TextMRed"><p>Мои коллекции</p></div>
      <div class="A_TextL"><p>Сохраняй референсы, туториалы и эффекты в одном месте</p></div>
    </div>
    <%= image_tag("line3.svg", alt: "Картинка", class: "Q_Line3") %>
    <div class='O_Card O_CardProfile'>
      <div class="A_TextM A_TextMCard"><p>Профиль</p></div>
      <div class="A_TextL"><p>Создавай портфолио, пополняя сайт своими эффектами</p></div>
    </div>
    <%= image_tag("line4.svg", alt: "Картинка", class: "Q_Line4") %>
    <div class='O_Card O_CardSimple O_Card2'>
      <p>Кастомизируй свою ленту и развивай сообщество</p>
    </div>
  </div>
</div>

<!-- Оверлей -->
<div class="W_Overlay">
  <!-- Модальное окно входа -->
  <div class="O_Modal O_ModalAuth">
    <div class="M_AuthForm">
      <h1 class="A_TitleAuth">Вход</h1>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "C_FormAuth" }) do |f| %>
        <div class="A_InputGroup">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Адрес почты", class: "A_Input A_InputAuth" %>
        </div>

        <div class="A_InputGroup">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль", class: "A_Input A_InputAuth" %>
        </div>

        <div class="A_ButtonGroup">
          <%= f.submit "Вход", class: "A_Button A_ButtonPrimary A_ButtonAuth" %>
        </div>
      <% end %>

      <div class="A_LinkGroup">
        <%= link_to "Нет аккаунта? Зарегистрируйтесь", new_registration_path(resource_name), class: "A_Link A_LinkAuth" %>
      </div>
    </div>
  </div>
</div>


