<div id="<%= dom_id asset %>">
  <p>
    <strong>Name:</strong>
    <%= asset.name %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= asset.img %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= asset.description %>
  </p>

  <p>
    <strong>Devices:</strong>
    <%= asset.devices %>
  </p>

  <p>
    <strong>Manual:</strong>
    <%= asset.manual %>
  </p>

  <p>
    <strong>Link to:</strong>
    <%= asset.link_to %>
  </p>

  <p>
    <strong>Is secure:</strong>
    <%= asset.is_secure %>
  </p>

  <p>
    <strong>User:</strong>
    <%= asset.user_id %>
  </p>

</div>
