<%
  set_meta_tags(
    title: "Подписки",
    description: "Ваши избранные коллекции на Eflectica",
    keywords: "коллекции эффектов, коллекции пресетов"
  )
%>

<% content_for :title, "News feeds" %>

<div class='O_Collections'>
  <div class='W_allCollectionSections'>
    <div class='M_collectionSection' data-controller="collection-modal">
      <h2 class="A_Header1">Мои коллекции</h2>
      <button class="A_ButtonPrimary A_ButtonPrimaryCollection" data-action="collection-modal#open">
        <%= image_tag("Q_IconPlusWhite.svg", alt: "Картинка рейтинга", class: "Q_IconPlusWhite") %>
        Создать новую
      </button>
      
      <div class="modal-overlay hidden" data-collection-modal-target="modal">
        <div class="S_FeedSettings">
          <div class="A_HeaderChoice">
            <h3 class="A_Header3">Создание коллекции</h3>
            <button class="modal-close" data-action="collection-modal#close">
              <%= image_tag("Q_IconClose.svg", alt: "Картинка", class: "Q_IconClose") %>
            </button>
          </div>
          <%= form_with model: Collection.new, url: collections_path, method: :post, local: true do |f| %>
            <div class='M_CollectionForm'>
              <%= f.text_field :name, placeholder: 'Название коллекции', class: 'A_InputFormName' %>
              <%= f.text_area :description, placeholder: 'Описание коллекции', class: 'A_InputFormDescription' %>
            </div>
            <div class="C_PrivateSettings">
              <h3 class="A_Header3">Настройки доступа</h3>
              <div class='C_RadioSettings'>
                <div class="M_RadioSettings">
                  <%= f.radio_button :status, 'public', id: 'public' %>
                  <%= f.label :status, 'Сделать коллекцию публичной', for: 'public', class: 'A_TextTag A_TextTagBig' %>
                </div>
                <div class="M_RadioSettings">
                  <%= f.radio_button :status, 'private', id: 'private' %>
                  <%= f.label :status, 'Сделать коллекцию приватной', for: 'private', class: 'A_TextTag A_TextTagBig' %>
                </div>
              </div>
              <p class="A_TextCaption A_TextCaptionCollection">
                Если сделать коллекцию публичной, на нее могут подписаться другие пользователи.
              </p>
            </div>
            <%= f.submit 'Создать', class: 'A_ButtonPrimary A_ButtonPrimaryCollectionCreate' %>
          <% end %>
        </div>      
      </div>      

      <div class="C_Collections C_CollectionsAll">
        <%= render partial: "favorites/favorite", 
            locals: { favorite_effects: @favorite_effects } %>
      
        <% if @my_collections.present? %>  
          <% @my_collections.each do |collection| %>
            <%= render partial: "collections/collection", locals: { collection:collection, css_classes: { 
              header: "A_Pink", 
              text: "A_White" 
            }} %>
          <% end %>
        <% else %>
          <p>У вас пока нет созданных коллекций.</p>
        <% end %>
      </div>
    </div>    
  </div>

  <div class='M_appStore'>
    <h2 class="A_Header2 A_Header2App">Все референсы под рукой, <span>если скачать приложение</span></h2>
    <div class='W_qrInfo W_qrInfoCollections'>
      <%= image_tag("QR.svg", alt: "Картинка рейтинга", class: "Q_QRIcon") %>
      <p class="A_TextTag">App Store</p>
    </div>
    <%= image_tag("iPhoneProMyCollections.png", alt: "Картинка рейтинга", class: "Q_iPhoneProMyCollections") %>
  </div>
</div>